#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.container {
  width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.completed__wrapper,
.ongoing__wrapper,
.pending__wrapper {
  width: 32%;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.ongoing__wrapper > h3,
.pending__wrapper > h3,
.completed__wrapper > h3 {
  text-align: center;
  text-transform: capitalize;
}
.pending__items {
  background-color: #eee3cb;
}
.ongoing__items {
  background-color: #d2daff;
}
.completed__items {
  background-color: #7fb77e;
}
.pending__container,
.ongoing__container,
.completed__container {
  width: 100%;
  min-height: 55vh;
  display: flex;
  flex-direction: column;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.pending__items,
.ongoing__items,
.completed__items {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 15px;
}
.comment {
  text-align: right;
  font-size: 14px;
  cursor: pointer;
  color: rgb(85, 85, 199);
}
.comment:hover {
  text-decoration: underline;
}
.comments__container {
  padding: 20px;
}
.comment__form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 30px;
}
.comment__form > label {
  margin-bottom: 15px;
}
.comment__form textarea {
  width: 80%;
  padding: 15px;
  margin-bottom: 15px;
}
.commentBtn {
  padding: 10px;
  width: 200px;
  background-color: #367e18;
  outline: none;
  border: none;
  color: #fff;
  height: 45px;
  cursor: pointer;
}
.comments__section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
