body {
    margin: 0;
    padding: 0;
    background-image: url('https://www.freepik.com/free-vector/realistic-polygonal-background_13323975.htm#query=blue%20and%20white%20wallpaper&position=0&from_view=keyword&track=ais&uuid=8249c667-66ec-4029-9fd9-733b3b527e22');
    background-repeat: no-repeat;
    background-size: cover;

}
