body {
    margin: 0;
    padding: 0;
    background-image: url('https://img.freepik.com/free-vector/paper-style-white-monochrome-background_52683-66443.jpg?w=1380&t=st=1711035336~exp=1711035936~hmac=0e799b23736a3b6547d915892c1d4e6b3acd52a7f4f0b82cd831267b5059ba3f');
    background-repeat: no-repeat;
    background-size: cover;

}
